USE [master]
GO
/****** Object:  Database [autobuski_prevoz]    Script Date: 5. 1. 2021. 12:43:51 ******/
CREATE DATABASE [autobuski_prevoz]
GO
USE [autobuski_prevoz]
GO
/****** Object:  Table [dbo].[linija]    Script Date: 5. 1. 2021. 12:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[linija](
	[linija_ID] [int] NOT NULL,
	[polaziste] [nvarchar](20) NULL,
	[dolaziste] [nvarchar](20) NULL,
	[vrijeme_polaska] [datetime] NULL,
	[vrijeme_dolaska] [datetime] NULL,
	[duzina_putovanja] [datetime] NULL,
	[linija_tip_ID] [int] NULL,
 CONSTRAINT [PK_linija] PRIMARY KEY CLUSTERED 
(
	[linija_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[odrzavanje]    Script Date: 5. 1. 2021. 12:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[odrzavanje](
	[vozilo_ID] [int] NOT NULL,
	[radnik_ID] [varchar](5) NOT NULL,
	[dtm_odrzavanja] [datetime] NULL,
	[odrzavanje_trosak] [float] NULL,
 CONSTRAINT [PK_odrzavanje] PRIMARY KEY CLUSTERED 
(
	[vozilo_ID] ASC,
	[radnik_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[radnik]    Script Date: 5. 1. 2021. 12:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[radnik](
	[radnik_ID] [varchar](5) NOT NULL,
	[radnik_ime] [nvarchar](20) NULL,
	[radnik_prezime] [nvarchar](20) NULL,
	[radnik_kval_ID] [int] NULL,
 CONSTRAINT [PK_radnik] PRIMARY KEY CLUSTERED 
(
	[radnik_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[radnik_kval]    Script Date: 5. 1. 2021. 12:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[radnik_kval](
	[radnik_kval_ID] [int] NOT NULL,
	[radnik_kval_opis] [nvarchar](20) NULL,
 CONSTRAINT [PK_radnik_kval] PRIMARY KEY CLUSTERED 
(
	[radnik_kval_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tip_linije]    Script Date: 5. 1. 2021. 12:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tip_linije](
	[linija_tip_ID] [int] NOT NULL,
	[linija_tip_naziv] [nvarchar](30) NULL,
 CONSTRAINT [PK_tip_linije] PRIMARY KEY CLUSTERED 
(
	[linija_tip_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vozilo]    Script Date: 5. 1. 2021. 12:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vozilo](
	[vozilo_ID] [int] NOT NULL,
	[vozilo_reg_oznaka] [nvarchar](10) NULL,
	[vozilo_tip_ID] [int] NULL,
 CONSTRAINT [PK_vozilo] PRIMARY KEY CLUSTERED 
(
	[vozilo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vozilo_tip]    Script Date: 5. 1. 2021. 12:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vozilo_tip](
	[vozilo_tip_ID] [int] NOT NULL,
	[vozilo_tip_naziv] [nvarchar](30) NULL,
	[vozilo_max_br_sjed] [int] NULL,
 CONSTRAINT [PK_vozilo_tip] PRIMARY KEY CLUSTERED 
(
	[vozilo_tip_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voznja]    Script Date: 5. 1. 2021. 12:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voznja](
	[voznja_ID] [int] IDENTITY(1,1) NOT NULL,
	[linija_ID] [int] NOT NULL,
	[radnik_ID] [varchar](5) NOT NULL,
	[dtm_voznje] [datetime] NULL,
	[voznja_prihod] [float] NULL,
	[zarada] [float] NULL,
	[vozilo_ID] [int] NULL,
 CONSTRAINT [PK_voznja] PRIMARY KEY CLUSTERED 
(
	[voznja_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[linija] ([linija_ID], [polaziste], [dolaziste], [vrijeme_polaska], [vrijeme_dolaska], [duzina_putovanja], [linija_tip_ID]) VALUES (1, N'polaziste_1', N'dolaziste_1', CAST(N'1900-01-01T06:29:57.000' AS DateTime), CAST(N'1900-01-01T10:02:46.000' AS DateTime), CAST(N'1899-12-30T03:32:49.000' AS DateTime), 4)
INSERT [dbo].[linija] ([linija_ID], [polaziste], [dolaziste], [vrijeme_polaska], [vrijeme_dolaska], [duzina_putovanja], [linija_tip_ID]) VALUES (2, N'polaziste_2', N'dolaziste_2', CAST(N'1900-01-01T22:54:53.000' AS DateTime), CAST(N'1900-01-01T23:55:09.000' AS DateTime), CAST(N'1899-12-30T01:00:16.000' AS DateTime), 2)
INSERT [dbo].[linija] ([linija_ID], [polaziste], [dolaziste], [vrijeme_polaska], [vrijeme_dolaska], [duzina_putovanja], [linija_tip_ID]) VALUES (3, N'polaziste_3', N'dolaziste_3', CAST(N'1899-12-30T08:04:32.000' AS DateTime), CAST(N'1899-12-30T12:13:40.000' AS DateTime), CAST(N'1899-12-30T04:09:08.000' AS DateTime), 5)
INSERT [dbo].[odrzavanje] ([vozilo_ID], [radnik_ID], [dtm_odrzavanja], [odrzavanje_trosak]) VALUES (1, N'm1', CAST(N'2019-05-17T00:00:00.000' AS DateTime), 2142.3456172400638)
INSERT [dbo].[odrzavanje] ([vozilo_ID], [radnik_ID], [dtm_odrzavanja], [odrzavanje_trosak]) VALUES (1, N'm11', CAST(N'2018-06-30T00:00:00.000' AS DateTime), 1838.863824071949)
INSERT [dbo].[odrzavanje] ([vozilo_ID], [radnik_ID], [dtm_odrzavanja], [odrzavanje_trosak]) VALUES (1, N'm12', CAST(N'2017-12-21T00:00:00.000' AS DateTime), 2359.113110655871)
GO
INSERT [dbo].[radnik] ([radnik_ID], [radnik_ime], [radnik_prezime], [radnik_kval_ID]) VALUES (N'm1', N'mehanicar_ime_1', N'mehanicar_prezime_1', 2)
INSERT [dbo].[radnik] ([radnik_ID], [radnik_ime], [radnik_prezime], [radnik_kval_ID]) VALUES (N'm10', N'mehanicar_ime_10', N'mehanicar_prezime_10', 1)
INSERT [dbo].[radnik] ([radnik_ID], [radnik_ime], [radnik_prezime], [radnik_kval_ID]) VALUES (N'm11', N'mehanicar_ime_11', N'mehanicar_prezime_11', 2)
INSERT [dbo].[radnik_kval] ([radnik_kval_ID], [radnik_kval_opis]) VALUES (1, N'SSS')
INSERT [dbo].[radnik_kval] ([radnik_kval_ID], [radnik_kval_opis]) VALUES (2, N'KV')
INSERT [dbo].[radnik_kval] ([radnik_kval_ID], [radnik_kval_opis]) VALUES (3, N'VKV')
INSERT [dbo].[tip_linije] ([linija_tip_ID], [linija_tip_naziv]) VALUES (1, N'općinska')
INSERT [dbo].[tip_linije] ([linija_tip_ID], [linija_tip_naziv]) VALUES (2, N'kantonalna')
INSERT [dbo].[tip_linije] ([linija_tip_ID], [linija_tip_naziv]) VALUES (3, N'regionalna')
INSERT [dbo].[vozilo] ([vozilo_ID], [vozilo_reg_oznaka], [vozilo_tip_ID]) VALUES (1, N'N99-J-797', 2)
INSERT [dbo].[vozilo] ([vozilo_ID], [vozilo_reg_oznaka], [vozilo_tip_ID]) VALUES (2, N'E73-S-846', 4)
INSERT [dbo].[vozilo] ([vozilo_ID], [vozilo_reg_oznaka], [vozilo_tip_ID]) VALUES (3, N'E58-T-848', 1)
INSERT [dbo].[vozilo_tip] ([vozilo_tip_ID], [vozilo_tip_naziv], [vozilo_max_br_sjed]) VALUES (1, N'kombibus', 19)
INSERT [dbo].[vozilo_tip] ([vozilo_tip_ID], [vozilo_tip_naziv], [vozilo_max_br_sjed]) VALUES (2, N'minibus', 27)
INSERT [dbo].[vozilo_tip] ([vozilo_tip_ID], [vozilo_tip_naziv], [vozilo_max_br_sjed]) VALUES (3, N'autobus', 50)
SET IDENTITY_INSERT [dbo].[voznja] ON 

INSERT [dbo].[voznja] ([voznja_ID], [linija_ID], [radnik_ID], [dtm_voznje], [voznja_prihod], [zarada], [vozilo_ID]) VALUES (1, 1, N'v1', CAST(N'2018-09-14T00:00:00.000' AS DateTime), 91.1, 21.099999999999994, 17)
INSERT [dbo].[voznja] ([voznja_ID], [linija_ID], [radnik_ID], [dtm_voznje], [voznja_prihod], [zarada], [vozilo_ID]) VALUES (2, 1, N'v11', CAST(N'2019-04-13T00:00:00.000' AS DateTime), 732.1, 169, 27)
INSERT [dbo].[voznja] ([voznja_ID], [linija_ID], [radnik_ID], [dtm_voznje], [voznja_prihod], [zarada], [vozilo_ID]) VALUES (3, 1, N'v12', CAST(N'2018-05-30T00:00:00.000' AS DateTime), 543.7, 125.50000000000006, 4)
GO
SET IDENTITY_INSERT [dbo].[voznja] OFF
ALTER TABLE [dbo].[linija]  WITH CHECK ADD  CONSTRAINT [FK_linija_tip_linije] FOREIGN KEY([linija_tip_ID])
REFERENCES [dbo].[tip_linije] ([linija_tip_ID])
GO
ALTER TABLE [dbo].[linija] CHECK CONSTRAINT [FK_linija_tip_linije]
GO
ALTER TABLE [dbo].[odrzavanje]  WITH CHECK ADD  CONSTRAINT [FK_odrzavanje_radnik] FOREIGN KEY([radnik_ID])
REFERENCES [dbo].[radnik] ([radnik_ID])
GO
ALTER TABLE [dbo].[odrzavanje] CHECK CONSTRAINT [FK_odrzavanje_radnik]
GO
ALTER TABLE [dbo].[odrzavanje]  WITH CHECK ADD  CONSTRAINT [FK_odrzavanje_vozilo] FOREIGN KEY([vozilo_ID])
REFERENCES [dbo].[vozilo] ([vozilo_ID])
GO
ALTER TABLE [dbo].[odrzavanje] CHECK CONSTRAINT [FK_odrzavanje_vozilo]
GO
ALTER TABLE [dbo].[radnik]  WITH CHECK ADD  CONSTRAINT [FK_radnik_radnik_kval] FOREIGN KEY([radnik_kval_ID])
REFERENCES [dbo].[radnik_kval] ([radnik_kval_ID])
GO
ALTER TABLE [dbo].[radnik] CHECK CONSTRAINT [FK_radnik_radnik_kval]
GO
ALTER TABLE [dbo].[vozilo]  WITH CHECK ADD  CONSTRAINT [FK_vozilo_vozilo_tip] FOREIGN KEY([vozilo_tip_ID])
REFERENCES [dbo].[vozilo_tip] ([vozilo_tip_ID])
GO
ALTER TABLE [dbo].[vozilo] CHECK CONSTRAINT [FK_vozilo_vozilo_tip]
GO
ALTER TABLE [dbo].[voznja]  WITH CHECK ADD  CONSTRAINT [FK_voznja_linija] FOREIGN KEY([linija_ID])
REFERENCES [dbo].[linija] ([linija_ID])
GO
ALTER TABLE [dbo].[voznja] CHECK CONSTRAINT [FK_voznja_linija]
GO
ALTER TABLE [dbo].[voznja]  WITH CHECK ADD  CONSTRAINT [FK_voznja_radnik] FOREIGN KEY([radnik_ID])
REFERENCES [dbo].[radnik] ([radnik_ID])
GO
ALTER TABLE [dbo].[voznja] CHECK CONSTRAINT [FK_voznja_radnik]
GO
ALTER TABLE [dbo].[voznja]  WITH CHECK ADD  CONSTRAINT [FK_voznja_vozilo] FOREIGN KEY([vozilo_ID])
REFERENCES [dbo].[vozilo] ([vozilo_ID])
GO
ALTER TABLE [dbo].[voznja] CHECK CONSTRAINT [FK_voznja_vozilo]
GO
USE [master]
GO
