USE [master]
GO
/****** Object:  Database [autobuski_prevoz_DW]    Script Date: 5. 1. 2021. 12:44:28 ******/
CREATE DATABASE [autobuski_prevoz_DW]

GO
USE [autobuski_prevoz_DW]
GO
/****** Object:  Table [dbo].[dim_godina]    Script Date: 5. 1. 2021. 12:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_godina](
	[voznja_dim_key] [int] IDENTITY(1,1) NOT NULL,
	[voznja_ID] [int] NOT NULL,
	[godina_voznje] [int] NULL,
 CONSTRAINT [PK_dim_godina] PRIMARY KEY CLUSTERED 
(
	[voznja_dim_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_linija]    Script Date: 5. 1. 2021. 12:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_linija](
	[linija_key] [int] IDENTITY(1,1) NOT NULL,
	[linija_ID] [int] NOT NULL,
	[vrijeme_polaska] [time](7) NULL,
	[vrijeme_dolaska] [time](7) NULL,
	[duzina_putovanja] [time](7) NULL,
	[linija_tip_naziv] [nvarchar](30) NULL,
 CONSTRAINT [PK_dim_linija] PRIMARY KEY CLUSTERED 
(
	[linija_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_radnik]    Script Date: 5. 1. 2021. 12:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_radnik](
	[radnik_key] [int] IDENTITY(1,1) NOT NULL,
	[radnik_ID] [varchar](5) NOT NULL,
	[radnik_kval_opis] [nvarchar](20) NULL,
 CONSTRAINT [PK_dim_radnik] PRIMARY KEY CLUSTERED 
(
	[radnik_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_vozilo]    Script Date: 5. 1. 2021. 12:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_vozilo](
	[vozilo_key] [int] IDENTITY(1,1) NOT NULL,
	[vozilo_ID] [int] NOT NULL,
	[vozilo_reg_oznaka] [nvarchar](10) NULL,
	[vozilo_tip_naziv] [nvarchar](30) NULL,
	[vozilo_max_br_sjed] [int] NULL,
 CONSTRAINT [PK_dim_vozilo] PRIMARY KEY CLUSTERED 
(
	[vozilo_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_voznja]    Script Date: 5. 1. 2021. 12:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_voznja](
	[voznja_key] [int] IDENTITY(1,1) NOT NULL,
	[voznja_dim_key] [int] NULL,
	[linija_key] [int] NULL,
	[radnik_key] [int] NULL,
	[vozilo_key] [int] NULL,
	[voznja_prihod] [float] NULL,
	[zarada] [float] NULL,
 CONSTRAINT [PK_fact_voznja] PRIMARY KEY CLUSTERED 
(
	[voznja_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dim_godina] ON 

INSERT [dbo].[dim_godina] ([voznja_dim_key], [voznja_ID], [godina_voznje]) VALUES (1, 1, 2018)
INSERT [dbo].[dim_godina] ([voznja_dim_key], [voznja_ID], [godina_voznje]) VALUES (2, 2, 2019)
INSERT [dbo].[dim_godina] ([voznja_dim_key], [voznja_ID], [godina_voznje]) VALUES (3, 3, 2018)
GO
SET IDENTITY_INSERT [dbo].[dim_godina] OFF
SET IDENTITY_INSERT [dbo].[dim_linija] ON 

INSERT [dbo].[dim_linija] ([linija_key], [linija_ID], [vrijeme_polaska], [vrijeme_dolaska], [duzina_putovanja], [linija_tip_naziv]) VALUES (1, 1, CAST(N'06:29:57' AS Time), CAST(N'10:02:46' AS Time), CAST(N'03:32:49' AS Time), N'entitetska')
INSERT [dbo].[dim_linija] ([linija_key], [linija_ID], [vrijeme_polaska], [vrijeme_dolaska], [duzina_putovanja], [linija_tip_naziv]) VALUES (2, 2, CAST(N'22:54:53' AS Time), CAST(N'23:55:09' AS Time), CAST(N'01:00:16' AS Time), N'kantonalna')
INSERT [dbo].[dim_linija] ([linija_key], [linija_ID], [vrijeme_polaska], [vrijeme_dolaska], [duzina_putovanja], [linija_tip_naziv]) VALUES (3, 4, CAST(N'08:43:23' AS Time), CAST(N'12:05:32' AS Time), CAST(N'03:22:10' AS Time), N'entitetska')
SET IDENTITY_INSERT [dbo].[dim_linija] OFF
SET IDENTITY_INSERT [dbo].[dim_radnik] ON 

INSERT [dbo].[dim_radnik] ([radnik_key], [radnik_ID], [radnik_kval_opis]) VALUES (1, N'm1', N'KV')
INSERT [dbo].[dim_radnik] ([radnik_key], [radnik_ID], [radnik_kval_opis]) VALUES (2, N'm10', N'SSS')
INSERT [dbo].[dim_radnik] ([radnik_key], [radnik_ID], [radnik_kval_opis]) VALUES (3, N'm11', N'KV')
SET IDENTITY_INSERT [dbo].[dim_radnik] OFF
SET IDENTITY_INSERT [dbo].[dim_vozilo] ON 

INSERT [dbo].[dim_vozilo] ([vozilo_key], [vozilo_ID], [vozilo_reg_oznaka], [vozilo_tip_naziv], [vozilo_max_br_sjed]) VALUES (1, 1, N'N99-J-797', N'minibus', 27)
INSERT [dbo].[dim_vozilo] ([vozilo_key], [vozilo_ID], [vozilo_reg_oznaka], [vozilo_tip_naziv], [vozilo_max_br_sjed]) VALUES (2, 3, N'E58-T-848', N'kombibus', 19)
INSERT [dbo].[dim_vozilo] ([vozilo_key], [vozilo_ID], [vozilo_reg_oznaka], [vozilo_tip_naziv], [vozilo_max_br_sjed]) VALUES (3, 4, N'D40-V-605', N'autobus', 50)
SET IDENTITY_INSERT [dbo].[dim_vozilo] OFF
SET IDENTITY_INSERT [dbo].[fact_voznja] ON 

INSERT [dbo].[fact_voznja] ([voznja_key], [voznja_dim_key], [linija_key], [radnik_key], [vozilo_key], [voznja_prihod], [zarada]) VALUES (1, 3, 1, 18, 3, 543.7, 125.50000000000006)
INSERT [dbo].[fact_voznja] ([voznja_key], [voznja_dim_key], [linija_key], [radnik_key], [vozilo_key], [voznja_prihod], [zarada]) VALUES (2, 4, 1, 19, 1, 211, 48.699999999999989)
INSERT [dbo].[fact_voznja] ([voznja_key], [voznja_dim_key], [linija_key], [radnik_key], [vozilo_key], [voznja_prihod], [zarada]) VALUES (3, 5, 1, 21, 16, 160.7, 37.099999999999994)
GO
SET IDENTITY_INSERT [dbo].[fact_voznja] OFF
ALTER TABLE [dbo].[fact_voznja]  WITH CHECK ADD  CONSTRAINT [FK_fact_voznja_dim_godina] FOREIGN KEY([voznja_dim_key])
REFERENCES [dbo].[dim_godina] ([voznja_dim_key])
GO
ALTER TABLE [dbo].[fact_voznja] CHECK CONSTRAINT [FK_fact_voznja_dim_godina]
GO
ALTER TABLE [dbo].[fact_voznja]  WITH CHECK ADD  CONSTRAINT [FK_fact_voznja_dim_linija] FOREIGN KEY([linija_key])
REFERENCES [dbo].[dim_linija] ([linija_key])
GO
ALTER TABLE [dbo].[fact_voznja] CHECK CONSTRAINT [FK_fact_voznja_dim_linija]
GO
ALTER TABLE [dbo].[fact_voznja]  WITH CHECK ADD  CONSTRAINT [FK_fact_voznja_dim_radnik] FOREIGN KEY([radnik_key])
REFERENCES [dbo].[dim_radnik] ([radnik_key])
GO
ALTER TABLE [dbo].[fact_voznja] CHECK CONSTRAINT [FK_fact_voznja_dim_radnik]
GO
ALTER TABLE [dbo].[fact_voznja]  WITH CHECK ADD  CONSTRAINT [FK_fact_voznja_dim_vozilo] FOREIGN KEY([vozilo_key])
REFERENCES [dbo].[dim_vozilo] ([vozilo_key])
GO
ALTER TABLE [dbo].[fact_voznja] CHECK CONSTRAINT [FK_fact_voznja_dim_vozilo]
GO
USE [master]
GO
